---
import Card from "../../components/Card.astro";
import MainLayout from "../layouts/MainLayout.astro"

 const artists = await fetch("https://hzdpvorfcykdebeqilbf.supabase.co/rest/v1/artister", {
      headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh6ZHB2b3JmY3lrZGViZXFpbGJmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjk1MTIwMzIsImV4cCI6MjA0NTA4ODAzMn0.pVcIPrq0E0XbMuECcUXHOmEpXK1jSYF6ACQ6Oei9ABo",
      },
    }).then(res=>res.json())
---

<MainLayout>
<h1>Lineup </h1>
<h1>THURSDAY 22 AUG 2023</h1>
<ul class="lineup">
    <!-- {
        artists.map(artist => <li>{artist.navn}</li>)
    } -->
    {
        artists.map(artist => <Card artist={artist} />)
    }
</ul>
</MainLayout>
<MainLayout>
<h1>FRIDAY 23 AUG 2023</h1>
<ul class="lineup">
    <!-- {
        artists.map(artist => <li>{artist.navn}</li>)
    } -->
    {
        artists.map(artist => <Card artist={artist} />)
    }
</ul>
</MainLayout>
<MainLayout>
<h1>SATURDAY 24 AUG 2023</h1>
<ul class="lineup">
    <!-- {
        artists.map(artist => <li>{artist.navn}</li>)
    } -->
    {
        artists.map(artist => <Card artist={artist} />)
    }
</ul>
</MainLayout>

<style>
  ul{
    list-style-type:none;
    color:white;
    text-decoration:none;
    background-color: rgba(0, 0, 0, 0.8); /* Adjust 0.5 to your desired level of transparency */
  }
  
  .lineup{
    display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

      /* hide wrapping rows */
      grid-template-rows: 4;
      gap: 60px;
     
  }
  
 

  /* Desktop skrift

.source-code-pro-<uniquifier> {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */

  h1 {
    font-family: "Source Code Pro", monospace;
    font-size: 24px;
}



/* Mobile skrift  */

h1 {
    font-family: "Source Code Pro", monospace;
    font-size: 48px;
    color:white;
    
}

ul
{
    font-family: "Source Code Pro", monospace;
    font-weight: 48px;
    
   
}

body {
  background-color: red;
    background-image: url('karruselbaggrund.jpg');
    background-size: cover;
    padding: 25px;
    
}

</style>